# binary
proxy
proxy_debug

test/test_http_helper
test/test_server

# log
logs/proxy.log

# objects
obj/**

# documentation 
docs

# test
test/test_http_helper
test/test_server
test/test_logger
test/test_config
